<h1>Random-Beers</h1>
<img src={{newRandomBeers.image_url}} alt={{newRandomBeers.name}} />
<h5>{{newRandomBeers.name}}</h5>
<h4>{{newRandomBeers.description}}</h4>
<h3>{{newRandomBeers.tagline}}</h3>
<h2>{{newRandomBeers.food_pairing}}</h2>
<h5>{{newRandomBeers.brewers_tips}}</h5>